<template name = "featurette">
	<div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading">About Us</h2>
        <p class="lead">ABCFries is a newly set up fries delivery service in the Somerville area that is aimed at late night munchies for students in the area who desire a fast, fresh, and affordable alternative to existing options that either take too long to reach customers, is unsavory, or is expensive. </p>
    	<p class = "lead">The current Somerville market doesn’t offer late night food on Thursdays when a sizeable number of students desire late night bites. Furthermore, offerings on Fridays are limited to on-campus offerings that are unsavory and can be closed without prior notice or off-campus offerings that can take an hour or more to get to customers.</p>
		<p class= "lead">ABCFries looks to offer quality fries with creative variations to students in the Somerville area on Thursdays and Saturdays. The close proximity to students ensures a faster delivery time and our single product line ensures a more streamlined production process. </p>
      </div>
    </div>
</template>